@using Techeasy.Framework.Web.Mvc
@using Techeasy.Framework.Web.Mvc.Bootstrap
@using Techeasy.TagBuilderHtmlHelperTutorial.WebApp.HtmlHelpers
@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title</h1>

<div class="row">
    @Html.SpanTag().SetAttribute("style", "white-space: pre-line").SetInnerText("SpanTag")
    @Html.TextInputTag()<br/>
    @Html.CheckboxInputTag()<br/>
    @Html.DateInputTag().AddCssClass("form-control").SetValueAttribute(DateTime.Now.ToString("yyyy-MM-dd"))<br/>

    @Html.AnchorButtonHtmlTag("/").SetInnerText("AnchorButtonHtmlTag")<br/>
    @Html.AnchorButtonHtmlTag("/", "Primary", ButtonStyle.Primary)<br />
    @Html.AnchorButtonHtmlTag("/", "Info", ButtonStyle.Info)<br />
    @Html.AnchorButtonHtmlTag("/", "Success", ButtonStyle.Success)<br />
    @Html.AnchorButtonHtmlTag("/", "Warning", ButtonStyle.Warning)<br />
    @Html.AnchorButtonHtmlTag("/", "Danger", ButtonStyle.Danger)<br />

    @Html.ModifyActionAnchorButtonHtmlTag("/")<br/>
    @Html.RemoveActionAnchorButtonHtmlTag("/")<br/>
    @Html.BackActionAnchorButtonHtmlTag("/")<br/>
    @Html.ListActionAnchorButtonHtmlTag("/", "List")<br/>

    @Html.SaveActionSubmitButtonHtmlTag()<br/>

</div>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}