@using Techeasy.Framework.Web.Mvc
@using Techeasy.Framework.Web.Mvc.Bootstrap
@using Techeasy.TagBuilderHtmlHelperTutorial.WebApp.HtmlHelpers
@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title</h1>

<div class="row">
    @Html.SpanTag().SetAttribute("style", "white-space: pre-line").SetInnerText("SpanTag")
    @Html.TextInputTag()<br/>
    @Html.CheckboxInputTag()<br/>
    @Html.DateInputTag().AddCssClass("form-control").SetValueAttribute(DateTime.Now.ToString("yyyy-MM-dd"))<br/>

    @Html.AnchorButtonHtmlTag("/").SetInnerText("AnchorButtonHtmlTag")<br/>

    @Html.ModifyActionAnchorButtonHtmlTag("/", ContentDisplayMode.Icon)<br/>
    @Html.RemoveActionAnchorButtonHtmlTag("/", ContentDisplayMode.Icon)<br/>
    @Html.BackActionAnchorButtonHtmlTag("/", ContentDisplayMode.Icon)<br/>
    @Html.ListActionAnchorButtonHtmlTag("/", "List")<br/>

    @Html.SaveActionSubmitButtonHtmlTag()<br/>

</div>